<html>
<head>
  <link rel="stylesheet" type="text/css" href="sign_up.css">
</head>
<<body class="container">
 <!--Header-->
  <div class="header">
    <h1>Jamz</h1>
  </div>
 
 <div class="mainbody">

   <div class="left-bar"></div>
   <div class="right-bar"></div>

   <div id="form"></div>


   <% if flash[:notice] %>
    <h1 class="flash-notice">
      <%= flash[:notice] %>
    </h1>
    <% end %>

    <% if flash[:alert] %>
    <h1 class="flash-alert">
      <%= flash[:alert] %>
    </h1>
  <% end %> 

 <%= yield %>
   
   <div class="footer">
     Copyright © JMast/SPeri 2015
   </div>
</body>