<!DOCTYPE html>
<html>
<head>
 <title>Jamz</title>
<link rel="stylesheet" type="text/css" href="sign_up.css"> 
</head>

<body class="container">
	<!-- Header -->
  <div class="header">
    <h1>Jamz</h1>
   
<!--    <p class="signout">
     <button>Sign Out</button>
   </p> -->
 </div>
 <!-- Header ends -->

 <div class="mainbody">

    <div class="left-bar"></div>
    <div class="right-bar"></div>

    <div id="form">
<!-- 
 <div class="section">
   <div id="bubbles1"></div>

   <div id="bubbles2"></div>
    
   <div id="bubbles3"></div> -->
     
 </div>


<%= yield %>

</body>
<div class="footer">
   Copyright © JMast/SPeri 2015
 </footer>
</html>