<!DOCTYPE html>

<html>
<head>
  <title>Jamz</title>
<link rel="stylesheet" type="text/css" href="sign_up.css"> 

<!--   <link rel="stylesheet" type="text/css" href="layout.css">
 -->
</head>
<body>

  <header>
    <h1>John Masterson</h1>
    <p class="settings">Settings</p>
    <p class="signout">
      <button>Sign Out</button>
    </p>
  </header>

  <nav class="left">
    <div class="user-photo"> Photo</div>

  </nav>

  <nav class="right">
    <!--   <p>U2 announces concert in MSG!</p>
    <p>Taylor Swift just jammed!</p>
    <br>
    <p>NWA in Rock n Roll Hall of Fame?</p>
    <p>Enrique Iglesias is headed to Moscow!</p>-->
  </nav>

  <div class="section">

    <div id="bubbles1">
      <p>
        <!--      I love bad blood! #TaylorSwift #bestsongevar #jamzislife-->
      </p>
    </div>

    <div id="bubbles2">
      <p>
        <!--Getting ready to hit the road. Nothing like #theBeatles while driving down the FDR.-->
      </p>
    </div>

    <div id="bubbles3">
      <p>
        <!--You know you've had a bad day when you listen to all of the sad Coldplay songs. #lightswillguideyouhome :(-->
      </p>
    </div>
  </div>

  <footer>
    Copyright © JMast/SPeri
  </footer>

</body>

</html>