 


<p> Start a conversation</p>

<form action="/posts" method="POST">
	<div class="postcontents">
		<input type="text" name="subject" placeholder="Enter post title"><br>

		<textarea name="body" id="posts" cols="100" rows="3" placeholder="What would you like to talk about"></textarea><br>				
		<input type="submit" name="submit" class="submit-button" /
		
	</div>
</form>