
<link rel="stylesheet" type="text/css" href="styles1.css">
<div id="container">
    <div class="header"><!--Header--></div>
    <div class="mainbody">

    	<div id="one"></div>

    	<h1> Jamz Login </h1>

<form method="POST" action="/sign-in">   
	<label for="username">Username</label>   
	<input type="text" name="username">   
	<label for="password">Password</label>   
	<input type="password" name="password">   
	<input type="submit" value="Click to JAM!!"> 
</form>
        <!--<p>Body</p>-->
    </div>
    <div class="footer"><!--Footer--></div>
</div>

	