
<!--<link rel="stylesheet" type="text/css" href="styles1.css">-->
<!--<div id="container">
    <div class="header"><
    <div class="mainbody">

    	<div id="one">

           <img id="music" src="http://dennisdillinger.com/KDimages/Music5.jpg" />

        </div>-->

    	<h1> Jatz Login </h1>

<form method="POST" action="/sign-in">   
	<label for="username">Username</label>   
	<input type="text" name="username">   
	<label for="password">Password</label>   
	<input type="password" name="password">   
	<input type="submit" value="Sign In"> 
</form>


<h2><a href="/sign-up">Sign Up</a></h2>

 </div>
    <div class="footer">
        <div class="bounce">
          
        <p> JATZ.....JATZ.....JATZ</p>
   </div>
</div>
      

	