

<link rel="stylesheet" type="text/css" href="sign_up.css">
<div id="container">
    <div class="header"></div>
    <div class="mainbody">

    	<div id="one"></div>

<div class="form">
<form method="POST" action="/sign-up"> 

  <label for="fname"><strong>First Name</strong></label>   
  <input type="text" name="fname">

  <label for="lname"><strong>Last Name</strong></label>   
  <input type="text" name="lname"> 

  <label for="email"><strong>Email</strong></label>   
  <input type="email" name="email"> 

  <label for="username"><strong>Username</strong></label>   
  <input type="text" name="username"> 

  <label for="password"><strong>Password</strong></label>  
  <input type="password" name="password">  
  <input type="submit">
 </form>
 </div>

 </div>

</div>
